@media screen and (max-width:1366px)
{
    .sayt
    {
        width:100%;
        
       
    }
  
}
@media screen and (max-width:1200px)
{
    .sayt
    {
        width:100%;
        
       
    }
    
}
@media screen and (max-width:992px)
{
    .sayt
    {
        width:100%;
        
       
    }
  
}